.checkout-wrapper {
  display: flex;
  gap: 30px;
  max-width: 1100px;
  margin: 40px auto;
  align-items: flex-start;
}


.checkout-left {
  flex: 2;
}


.checkout-right {
  flex: 1;
  border: 1px solid #ddd;
  padding: 20px;
  border-radius: 10px;
  background: #fafafa;
  height: fit-content;
}


.form-group {
  position: relative;
  margin-bottom: 20px;
}

.form-group input {
  width: 100%;
  padding: 16px 12px 8px;
  border: 1px solid #ccc;
  outline: none;
  border-radius: 6px;
}

.form-group label {
  position: absolute;
  left: 12px;
  top: 14px;
  color: #999;
  transition: 0.3s;
  background: #fff;
  padding: 0 4px;
}

.form-group input:focus + label,
.form-group input:valid + label {
  top: -8px;
  font-size: 12px;
  color: red;
}


.button-group {
  display: flex;
  gap: 10px;
  margin-top: 20px;
}

.button-group button {
  flex: 1;
  padding: 12px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
}

.button-group button:first-child {
  background: #ccc;
}

.button-group button:last-child {
  background: red;
  color: white;
}

/* order item */
.order-item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.order-total {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  font-size: 18px;
}